<p id="notice"><%= notice %></p>

<h1>Payments</h1>

<table class="table">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Date</th>
      <th>Order</th>
      <th>Status</th>
      <th>Method</th>
      <th>show</th>
      <th>Edit</th>
      <th>Delete</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= payment.amount %></td>
        <td><%= payment.date %></td>
        <td><%= payment.order.id %></td>
        <td><%= payment.status %></td>
        <td><%= payment.method %></td>
        <td><%= link_to 'Show', payment,class: 'btn btn-primary'  %></td>
        <td><%= link_to 'Edit', edit_payment_path(payment),class: 'btn btn-primary'  %></td>
        <td><%= link_to 'Destroy', payment, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-primary'  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path,class: 'btn btn-primary'  %>
