<%= form_with(model: category, local: true) do |form| %>
  <% if category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <% category.errors.full_messages.each do |message| %>
      <h4><%= message %></h4>
      <% end %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name , { class: 'form-control' }%>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, { class: 'form-control' } %>
  </div>

  <div class="field">
    <%= form.label :stock %>
    <%= form.number_field :stock, { class: 'form-control' } %>
  </div>

  <div class="actions ">
    <%= form.submit %>
  </div>
<% end %>
