<!DOCTYPE html>
<html>
<head>
  <title>Your App Title</title>

</head>
<body>
  <header>
    <nav class="navbar navbar-inverse p-3 mb-2 ">
      <div class="navbar-class">
        <div class="container ">
          <ul class="nav justify-content-center   ">
            <li class="nav-item "><%= link_to "Shops", shops_path %></li>
            <li class="nav-item"><%= link_to "Owner", owners_path %></li>
            <li class="nav-item"><%= link_to "Customer", customers_path %></li>
            <li class="nav-item"><%= link_to "Items", items_path %></li>
            <li class="nav-item"><%= link_to "Order items", order_items_path %></li>
            <li class="nav-item"><%= link_to "Orders", orders_path %></li>
            <li class="nav-item"><%= link_to "Payments", payments_path %></li>
            <li class="nav-item"><%= link_to "Categories", categories_path %></li>
            <li class="nav-item"><%= link_to "feedback", feedbacks_path %></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
</body>
</html>